.container {
  padding: 0 2rem
}

.main {
  min-height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px
}

.commands {
  list-style-type: none;
  width: 512px;
  max-width: 95%;
}

.commands li {
  margin: 5px;
}

